body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 400px;
}

input {
    background-color: rgba(173, 216, 230, 0.485);
    display: block;
    width: 50%;
    height: 30px;
    font-size: x-large;
}

button {
    background-color: rgba(172, 255, 47, 0.436);
    padding: 15px;
    display: block;
    width: 15%;
    font-size: larger;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li{
    margin-top: 5px;
}

a{
    /* color: rgba(172, 255, 47, 0.436); */
    color: black;
    font-size: larger;
}